<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,179},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>button_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{535,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{535,130}</string>
			</dict>
			<key>crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,331},{64,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,60}</string>
			</dict>
			<key>cupBegin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,281},{95,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,104}</string>
			</dict>
			<key>cupFinish.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,1},{95,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,104}</string>
			</dict>
			<key>cupLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,95},{90,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,99}</string>
			</dict>
			<key>dangban120.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,2024},{120,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,16}</string>
			</dict>
			<key>dangban240.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2024},{240,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,16}</string>
			</dict>
			<key>gameLogo.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1943},{417,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{417,80}</string>
			</dict>
			<key>gameoverBtnBoard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1943},{525,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,79}</string>
			</dict>
			<key>gotoHome.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,111},{228,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>groundBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1139},{640,802}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,802}</string>
			</dict>
			<key>hotSign.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,111},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1},{101,159}}</string>
				<key>offset</key>
				<string>{-11,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,161}</string>
			</dict>
			<key>nextGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,179},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>pauseBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,255},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>rank_board2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,1},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>rankBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,104},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>rankMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,1},{498,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{498,324}</string>
			</dict>
			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,1},{92,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,106}</string>
			</dict>
			<key>resumeGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,111},{229,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,52}</string>
			</dict>
			<key>shareBtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,214},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>shuiLongTou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,98},{50,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,55}</string>
			</dict>
			<key>soundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,324},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>soundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1},{108,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,141}</string>
			</dict>
			<key>startBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,1136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>startGame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,1},{286,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fullofwater.png</string>
			<key>realTextureFileName</key>
			<string>fullofwater.png</string>
			<key>size</key>
			<string>{2035,2041}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2035</integer>
			<key>height</key>
			<integer>2041</integer>
		</dict>
	</dict>
</plist>